flask==2.3.2
flask-Login==0.6.2
flask-paginate==2022.1.8
gunicorn==20.1.0
google-cloud-bigquery==3.4.1
google-cloud-logging==3.5.0
google-cloud-resource-manager==1.10.0
pendulum==3.1.0
Werkzeug==2.3.7
